<style>

body {
  background-image: url("Pictures/pic1.jpg");
}

section{
}
.container {

  width: 50%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;

    position: absolute;
    left: 35%;
    top: 35%;
    height: 150px;
    width: 300px;

}

h1 {
  background-color: black;
  color: white;
  font-family: serif
}
a:link, a:visited {
  background-color: #ADD8E6;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}


</style>

<div class="container">
    <h1>SHOP APP</h1>
   <%= link_to 'All Shops', controller: 'shops' %>
</div>

